<p>Here are <%=@user.username%>'s lipsticks!</p>

<a href='/lipsticks' >All Lips</a>
&nbsp;&nbsp;&nbsp;&nbsp;
<a href='/lipsticks/new' >Create Lip</a>

<br/><br/>

<table style="width:100%" align= 'center'>
 <tbody align= 'center'>
  <tr>
    <th>username</th>
    <th>link to lipstick</th> 
    <th>color scheme main</th>
    <th>color scheme undertone</th>
    <th>name</th> 
    <th>finish</th>
    <th>dryness</th>
    <th>requires a base?</th> 
    <th>longevity</th>
    <th>brand</th>
    <th>difficulty to apply</th> 
    <th>difficulty to remove</th>
    <th>oil or water removal?</th>
  </tr>
  <%@user.lipsticks.each do|lipstick|%>
   <div>
  <tr>
    <td><%=@user.username%></td>
    <td><a href="/lipsticks/<%=lipstick.id%>"> <%=lipstick.name_of_lipstick%> </a></td> 
    <td><%=lipstick.color_scheme_main%></td>
    <td><%=lipstick.color_scheme_undertone%></td>
    <td><%=lipstick.name_of_lipstick%></td> 
    <td><%=lipstick.finish%></td>
    <td><%=lipstick.dryness%></td>
    <td><%=lipstick.requires_a_base%></td> 
    <td><%=lipstick.longevity%></td>
    <td><%=lipstick.brand%></td>
    <td><%=lipstick.difficulty_to_apply%></td> 
    <td><%=lipstick.difficulty_to_remove%></td>
    <td><%=lipstick.oil_or_water_removal%></td>
  </tr>
   </div>
   <% end %> 
 </tbody>
</table>
  

  
  