<p>Here is the lipstick: <%=@lipstick.name_of_lipstick%>!</p>

<a href='/lipsticks' >All Lips</a>
&nbsp;&nbsp;&nbsp;&nbsp;
<a href='/lipsticks/new' >Create Lip</a>
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/users/<%=@lipstick.user.username%>"><%=@lipstick.user.username%>'s Lips</a>

<br/><br/>

<table style="width:100%" align= 'center'>
 <tbody align= 'center'>
  <tr>
    <th>Username</th>
    <th>Link to lipstick</th> 
    <th>Color scheme main</th>
    <th>Color scheme undertone</th>
    <th>Name</th> 
    <th>Finish</th>
    <th>Dryness</th>
    <th>Requires a base?</th> 
    <th>Longevity</th>
    <th>Brand</th>
    <th>Difficulty to apply</th> 
    <th>Difficulty to remove</th>
    <th>Oil or water removal?</th>
  </tr>
   <div>
  <tr>
    <td><%=@lipstick.username%></td>
    <td><a href="/lipsticks/<%=@lipstick.id%>"> <%=@lipstick.name_of_lipstick%> </a></td> 
    <td><%=@lipstick.color_scheme_main%></td>
    <td><%=@lipstick.color_scheme_undertone%></td>
    <td><%=@lipstick.name_of_lipstick%></td> 
    <td><%=@lipstick.finish%></td>
    <td><%=@lipstick.dryness%></td>
    <td><%=@lipstick.requires_a_base%></td> 
    <td><%=@lipstick.longevity%></td>
    <td><%=@lipstick.brand%></td>
    <td><%=@lipstick.difficulty_to_apply%></td> 
    <td><%=@lipstick.difficulty_to_remove%></td>
    <td><%=@lipstick.oil_or_water_removal%></td>
  </tr>
   </div>
 </tbody>
</table>

<br/><br/>
    
<% if @lipstick.user_id == current_user.id %>

<form method ="post" action="/lipsticks/<%=@lipstick.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="hidden" name="_token" value="the_token">
  <button type="submit" class="btn btn-link" onclick="if (!confirm('Are you sure?')) { return false }"><span>Delete</span></button>
</form>

<br/><br/>
  
<a href="/lipsticks/<%=@lipstick.id%>/edit">Edit Lip</a>

<% end %>

<br/><br/>